
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/public/img/picture/
!/public/img/picture/default_avatar.png
###< symfony/framework-bundle ###
