@import "main";

h2 {
    font-size: 1.50rem;
    width: fit-content;
    margin: 1rem auto;
    border-bottom: 2px solid;
    padding-bottom: .5rem;
    margin: 1.25rem auto 1.75rem;
}

.project-ffr {
    font-size: calc(3rem + 1vw);
    text-align: center;
    background-color: $red;
    color: $gray;
    padding: 1.5rem;
}

.form-wrap {
    display: grid;
    padding: 1.25rem;
    text-align: center;

    label,
    input {
        font-family: 'Roboto', sans-serif;
        font-size: 1.15rem;
        margin: .75rem .25em;
        display: block;
    }

    input:first-of-type {
        margin-bottom: 1rem;
    }

    input {
        margin-bottom: .5rem;
        font-weight: 300;
        font-size: 1rem;
        padding: .5rem;
        border: .5px solid $blue;
        width: calc(230px + 10vw);
        margin: auto;
        max-width: 300px;
    }

    input:focus-within {
        border: .5px solid $blue;
    }

    .agree-terms {
        display: flex;
        justify-content: center;

        label {
            font-size: 1rem;
        }

        input[type=checkbox] {
            margin: .75rem .25em;
            width: fit-content;
        }
    }
}

.form-sublink {
    font-weight: 300;
    font-style: italic;
    font-size: .8rem;
    line-height: 1.25rem;
    display: grid;
    margin-top: 1rem;
}

@media screen and (min-width: 760px) {
    .log-container {
        max-width: 70vw;
        max-height: 75vh;
        box-shadow: 0px 0px 14px 7px #0000008a;

        .form-wrap {
            padding: 2rem calc(2rem + 2vw);
            background-color: #e3e8eebf;
            -webkit-backdrop-filter: blur(3px) opacity(70%) brightness(250%);
            backdrop-filter: blur(3px) opacity(70%) brightness(250%);
        }
    }
}