$gray : #E3E8EE;
$red : #F2362F;
$blue : #013974;

html {
    font-family: 'Roboto Condensed', sans-serif;
}

nav {
    width: 100vw;
    position: fixed;
    bottom: 0;
    color: white;
    font-size: 0.9rem;
    box-shadow: 0px 0px 5px 0px #000000ad;
}

.bg-menu {
    display: none;
}

.sm-menu {
    text-align: center;
    background-color: $red;

    ul {
        display: flex;
        justify-content: space-between;
        margin: 0.25rem;
        align-items: center;

        .svg-icon {
            width: 100%;
            height: 20px;
            margin-bottom: 4px;
        }
    }

    li {

        img {
            margin: auto;
        }

        .user-portrait {
            height: 45px;
        }
    }

    span {
        font-size: 1.8rem;
    }
}


body {
    display: grid;
    height: 100vh;
    width: 100vw;
    background-color: $gray;
}

.pointer {
    cursor: pointer;
    transition: .2s;
}

hr {
    margin: 0;
    height: 8px;
    border: none;
    background-color: $blue;
}

.btn-lg {
    background-color: $red;
    padding: 16px 20px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    border: none;
    display: block;
    width: 165px;
    margin: 30px auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.32);
    text-transform: uppercase;
}

.btn-lg:hover {
    background-color: white;
    color: red;
}

.underline {
    text-decoration: underline;
}



@media screen and (min-width: 760px) {
    body {
        place-content: center;
        background-color: $blue;
        background-image: url(../img/background.png);
        background-blend-mode: overlay;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    nav {
        top: 0;

        .sm-menu {
            display: none;
        }

        .bg-menu {
            background-color: $red;
            display: grid;
            padding: 1rem calc(1rem + 5vw) 0;
            border-bottom: 8px solid $blue;

            h3 {
                grid-column: 2;
                text-align: right;
                font-size: 2.25rem;
                white-space: nowrap;
            }

            .sub-menu {
                grid-column: 1;
                grid-row: 2;
                display: flex;
                align-self: end;
                text-transform: uppercase;
                white-space: nowrap;

                svg {
                    fill: $red;
                    margin-right: 1vw;
                    height: calc(0.3rem + 1vw);
                }

                li {
                    filter: drop-shadow(13px 0px 5px #44444426);
                }

                .li-wrapper {
                    background-color: $gray;
                    color: $red;
                    padding: calc(0.5rem + 1vw) 4rem calc(0.5rem + 1vw) 2rem;
                    clip-path: polygon(0px 0px, 93% 0px, 100% 100%, 0% 100%);
                    width: auto;
                    display: grid;
                    grid-template-columns: 1fr auto;
                    align-items: center;
                    font-size: calc(0.5em + 1vw);
                }

                li:first-of-type {
                    z-index: 99;
                }

                li:not(:first-of-type) {
                    position: relative;
                    left: calc(-1.5em - 1vw);

                    .li-wrapper {
                        padding-left: calc(2rem + 1vw);
                    }
                }

                .active {
                    background-color: $blue;
                    color: $gray;
                    z-index: 99;

                    .cls-1 {
                        fill: $gray;
                    }
                }
            }

            .side-menu {
                grid-column: 2;
                justify-content: right;
                display: flex;
                white-space: nowrap;
                align-items: flex-end;
                justify-content: flex-end;
                align-items: center;
                color: $gray;

                div {
                    display: flex;
                    align-items: center;
                }

                .user-info {
                    margin-right: 1rem;
                }

                svg {
                    height: 0.7rem;
                    fill: $gray;
                    width: auto;
                    margin: 0.25rem;
                }
            }
        }
    }
}