$gray : #E3E8EE;
$red : #F2362F;
$blue : #013974;

html {
    font-family: 'Roboto Condensed', sans-serif;
}

@media screen and (min-width: 760px) {
    body {
        place-content: center;
        background-color: $blue;
        background-image: url(../img/background.png);
        background-blend-mode: overlay;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}