@import 'variable';

html {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    background-color: $gray;
}

nav {
    width: 100vw;
    // position: fixed;
    bottom: 0;
    color: white;
    font-size: 0.9rem;
    box-shadow: 0px 0px 5px 0px #000000ad;
    font-weight: bold;
}

.bg-menu {
    display: none;
}

.sm-menu {
    text-align: center;
    background-color: $red;

    ul {
        display: flex;
        justify-content: space-between;
        margin: 0.25rem;
        align-items: center;

        .svg-icon {
            width: 100%;
            height: 20px;
            margin-bottom: 4px;
        }
    }

    li {

        img {
            margin: auto;
        }

        .user-portrait {
            height: 45px;
        }
    }

    span {
        font-size: 1.8rem;
    }
}

.pointer {
    cursor: pointer;
    transition: .2s;
}

hr {
    margin: 0;
    height: 8px;
    border: none;
    background-color: $blue;
}

.btn-lg {
    background-color: $red;
    padding: 16px 20px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    border: none;
    display: block;
    width: 165px;
    margin: 30px auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.32);
    text-transform: uppercase;
    font-weight: bold;
}

.btn-lg:hover {
    background-color: white;
    color: red;
}

.btn-edit {
    background-color: white !important;
    color: $blue !important;
}

.btn-edit:hover {
    color: white !important;
    background-color: $blue !important;
}

a.btn-lg {
    font-size: 0.9rem;
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.team-wrapper {
    grid-row: 2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .team-card {
        min-width: 200px;
        display: inline-flex;
        flex-direction: column;
        backdrop-filter: blur(3px) opacity(70%) brightness(250%);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.32);
        background-color: #ffffff91;
        margin: 1rem;

        .team-cat {
            font-size: calc(1.25rem + 0.5vw);
            text-align: center;
            margin: 2.5rem auto 1rem;
        }

        .card-body {
            display: flex;
            justify-content: center;
            padding: 1.5rem 0 2rem;

            img:nth-child(2) {
                scale: 130%
            }
        }

        .card-footer {
            display: flex;

            button {
                margin: 0;
                box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.1);
            }
        }

    }
}

.body-wrapper {
    background-color: $gray;
}

@media screen and (min-width: 760px) {
    body {
        background-color: #013974;
        background-image: url(../img/background.png);
        background-blend-mode: overlay;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        grid-template-rows: auto 1fr;
    }

    nav {
        grid-row: 1;
        align-self: start;

        .sm-menu {
            display: none;
        }

        .bg-menu {
            background-color: $red;
            display: grid;
            padding: 1rem calc(1rem + 5vw) 0;
            border-bottom: 8px solid $blue;

            h3 {
                grid-column: 2;
                text-align: right;
                font-size: 2.25rem;
                white-space: nowrap;
            }

            .sub-menu {
                grid-column: 1;
                grid-row: 2;
                display: flex;
                align-self: end;
                text-transform: uppercase;
                white-space: nowrap;

                svg {
                    fill: $red;
                    margin-right: 1vw;
                    height: calc(0.3rem + 1vw);
                }

                li {
                    filter: drop-shadow(13px 0px 5px #44444426);
                }

                .li-wrapper {
                    background-color: $gray;
                    color: $red;
                    padding: calc(0.5rem + 1vw) 4rem calc(0.5rem + 1vw) 2rem;
                    clip-path: polygon(0px 0px, 93% 0px, 100% 100%, 0% 100%);
                    width: auto;
                    display: grid;
                    grid-template-columns: 1fr auto;
                    align-items: center;
                    font-size: calc(0.5em + 1vw);
                }

                li:first-of-type {
                    z-index: 99;
                }

                li:not(:first-of-type) {
                    position: relative;
                    left: calc(-1.5em - 1vw);
                    z-index: 98;

                    .li-wrapper {
                        padding-left: calc(2rem + 1vw);
                    }
                }

                li:nth-child(3) {
                    z-index: 97;
                    left: calc(-3.25em - 1vw);
                }

                .active {
                    background-color: $blue;
                    color: $gray;
                    z-index: 99;

                    .cls-1 {
                        fill: $gray;
                    }
                }
            }

            .side-menu {
                grid-column: 2;
                justify-content: right;
                display: flex;
                white-space: nowrap;
                align-items: flex-end;
                justify-content: flex-end;
                align-items: center;
                color: $gray;

                div {
                    display: flex;
                    align-items: center;
                }

                .user-info {
                    margin-right: 1rem;
                }

                svg {
                    height: 0.7rem;
                    fill: $gray;
                    width: auto;
                    margin: 0.25rem;
                }
            }
        }
    }

    .menu-tab,
    .team-wrapper {
        padding: 1rem calc(1rem + 5vw) 0;
    }

    .main-wrapper,
    .players-wrapper {
        padding: 2.5rem calc(1rem + 5vw);
    }

    .main-wrapper,
    .players-wrapper {
        background-color: $gray;
    }

    .menu-tab {
        grid-row: 2;
        background-color: $blue;
        color: $gray;
        font-size: 1.50rem;

        h4 {
            border-bottom: 5px solid $gray;
            width: fit-content;
            padding-bottom: 1rem;
        }
    }

    .main-wrapper {
        grid-row: 3;
        background-color: $gray;
    }

    .team-wrapper {
        place-content: center;
    }
}