@import 'variable';

.example-wrapper > div > div {
margin: 0 .5rem;
}

.field-position {
    width: 50px;
    height: 50px;
    border: 4px dashed white;
    background-color: rgba(255, 255, 255, 0.275);
    border-radius: 5px;
    display: grid;
    place-content: center;

    div {
        background-color: $gray;
    }
}

.field-position .field-number {
    color: white;
    position: fixed;
}

.droppable-over {
    width: 50px;
    height: 50px;
    border: 4px dashed green;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.275);
    border-radius: 5px;
}

.field-row {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

#players_list {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    border: 4px dashed rgb(1, 57, 116);
    background-color: rgb(227, 232, 238);
}

.player_card {
    display: flex;
    flex-direction: column;
    width: 50px;
    max-height: 70px;
    border: 2px solid $red;
    background-color: rgba(255, 0, 0, 0.275);
    margin: .5rem;

    img {
        object-fit: cover;
    }
}

.player_id {
    background-color: $blue;
    color: $gray;
    font-weight: bold;
    text-align: center;
    padding: .1rem;
}

.stats-modal-hidden {
    display: none;
    position: absolute;
}

table {
    tr td:first-of-type {
        text-transform: uppercase;
        text-align: right;
        padding: .2rem;
        background-color: $blue;
        color: $gray;
    }

    tr td:last-of-type {
        padding: .2rem;
        max-width: 100px;
    }

    td.head {
        border-bottom: 1px solid $gray;
    }

    td.body {
        border-bottom: 1px solid #0000001f;
        background-color: $gray;
    }
}