@import "main";

.modal-content {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: #00000061;
}

.form_add_team {
    background-color: $gray;
    padding: 2rem;
    display: grid;
    border-top: 4px solid $red;

    div {
        display: grid;
        text-align: center;
        padding: .5rem;
    }

    select {
        padding: .55rem;
        width: fit-content;
        margin: auto;
    }
}