{% extends 'base.html.twig' %}

{% block title %}Hello PlayerFormController!
{% endblock %}

{% block body %}

	{% include 'main_nav.html.twig' %}


	{# <div class="modal-content player-modal"> #}

		<div class="form_modal form_add_team add_player" >

	{{ form_start(form) }}



			{{ form_end(form)}}

		</div>

	{# </div> #}


{% endblock %}
