{% extends 'base.html.twig' %}

{% block title %}Hello PlayerFormController!
{% endblock %}

{% block body %}

{% include 'first_nav.html.twig' %}

<div class="body-wrapper">

	<div class="main-wrapper">

		{{ form_start(form) }}



		{{ form_end(form)}}

	</div>



</div>
</div>


{% endblock %}