{% extends 'base.html.twig' %}

{% block title %}Hello MatchCalendarController!{% endblock %}

{% block body %}

{% include 'nav.html.twig' %}

<div>
    <ul>
        {% for match in matches %}
        <li>{{ match.matchtype.name }}</li>
        <li>{{ match.localteam }}</li>
        <li>{{ match.visitorteam }}</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}