{% extends 'base.html.twig' %}

{% block title %}Hello ClassementChampionnatController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/FFR/src/Controller/ClassementChampionnatController.php'|file_link(0) }}">src/Controller/ClassementChampionnatController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/FFR/templates/classement_championnat/index.html.twig'|file_link(0) }}">templates/classement_championnat/index.html.twig</a></code></li>
    </ul>


</div>


<button onclick="access()">try it!</button>

<hr>

<iframe id="myFrame" src="https://www.rugbyfederal.com/Resultats/index.php?division=D5&ligue=FFR&poule=2&jour=100&year=2020" style="height:880px;width:100%" frameborder="1" target("mytable") onload="access()"></iframe>




<script>

    const myFrame = document.getElementById("myFrame");

	function access() {
        const iframeWindows = myFrame.contentWindow;
        const iframeDocument = myFrame.contentDocument;
        console.log(iframeWindows.document);
    }
</script>

<script>
    // function access(){
    //     var iframe = document.getElementById("myFrame");
    //     var elmnt = iframe.contentWindow.document.getElementsByTagName("myTable")[0];
    //     elmnt.style.display = "none";
    // }
</script>

{% endblock %}
