<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# css #}
		<link href="{{ asset('css/reset.css') }}" rel="stylesheet"/>
		<link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
		<link href="{{ asset('css/forms.css') }}" rel="stylesheet"/>
		<link
		href="{{ asset('css/modal.css') }}" rel="stylesheet"/>
		{# google fonts #}
		<link
		href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital&family=Roboto:wght@300;500&display=swap" rel="stylesheet">
		{# datatables #}
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/fc-3.3.1/fh-3.1.7/kt-2.5.2/r-2.2.5/sc-2.0.2/sp-1.1.1/datatables.min.css"/>
		<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/fc-3.3.1/fh-3.1.7/kt-2.5.2/r-2.2.5/sc-2.0.2/sp-1.1.1/datatables.min.js"></script>

		{% block stylesheets %}{% endblock %}
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
	</head>

	<body>
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>

</html>
