<div class="nav-container">

    <div class="mobile-nav">
        
    </div>

    <div class="tab-container">
        <ul>
            <li><a href="#">Sélectionner une équipe</a></li>
            <li><a href="#">Ajouter une équipe</a></li>
        </ul>
    </div>

    <div class="info-wrap">
        <h3 class="club-info">Nom du club</h3>
        <div class="user-info">
            <img class="user-photo" src="" alt="">
            <a href="#" class="user-name">Romain P.</a></div>
        <div>
            <a href="" class="log-out">Se déconnecter</a>
        </div>
    </div>
</div>