<nav>
    <div class="nav-container">
        <div class="tab-container">
            <ul>
                <li>Sélectionner une équipe</li>
                <li>Ajouter une équipe</li>
            </ul>
        </div>

        <div>
            <h3>Nom du club</h3>
            <div>
                <img src="{{ asset('img/portrait.png') }}" alt="portrait de l'utilisateur">
                <a>Romain P.</a>
            </div>

            <div>
                <img src="{{ asset('icons/signout.svg')}}" alt="=déconnection">
                <a>Se déconnecter</a>
            </div>
        </div>

    </div>
</nav>
