{% extends 'base.html.twig' %}

{% block title %}Hello ShowTeamController!{% endblock %}

{% block body %}

{% include 'first_nav.html.twig' %}

<div class="main-wrapper">

    
{% for team in team %}

    
    <a href="/match/calendar/{{team.id}}">{{team.category}}</a>

    
    {% endfor %}
</div>
{% endblock %}
